<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="container">
    <a href="/register" class="btn btn-primary">Add New User</a>
    <div class="row col-md-12">
        <h1>All Users</h1>
        <div class="container">
            <div class="row">
                       <div id="custom-search-input">
                                        <div class="input-group col-md-12" style="text-align: center">
                                            <input type="text" class="form-control" placeholder="Search With Email Address"  name="email" [(ngModel)]="name"/>
                                            <span class="input-group-btn">
                                                <button class="btn btn-danger" type="button" (click)="searchByEmail(name)">
                                                    <span class=" glyphicon glyphicon-search"></span>
                                                </button>
                                            </span>                                       
                                                                                          
                                        </div>
                                    </div>
            </div>
            </div>
        <table class="table table-bordered">            
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Date Of Birth</th>
                    <th>Gender</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.id}}</td>
                    <td>{{user.firstName}} {{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.dateOfBirth}}</td>
                    <td>{{user.gender}}</td>
                    <td>{{user.status}}</td>
                    <td class="text-center"><button class="btn btn-danger btn-xs" (click)="delteUser(user.id)"><span
                                class="glyphicon glyphicon-remove"></span> Delete</button></td>                                      
            </tbody>           
        </table>



        
    </div>
    
   




